@font-face {
  font-family: 'Proxima Nova Alt';
  src: url('fonts/Proxima-Nova-Alt-Regular.otf') format('opentype');
}

* {
  font-family: 'Proxima Nova Alt';
  color: #ec8433;
}

body {
  margin: 0;
  padding: 0;
  color: #ec8433;
  background-color: #006e96;
  background-image: url(img/background.png);
  background-attachment: fixed;
  background-position: right 3.125rem;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  font-family: 'Proxima Nova Alt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary,
.btn-primary:hover {
  color: #fff !important;
  background-color: #1398c9 !important;
  border-color: #1398c9 !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #00374b !important;
  border-color: #00374b !important;
}

.dropdown-divider {
  border-top-color: #ec8433;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #00374b !important;
  background-color: #ec8433 !important;
}

.nav-tabs .nav-link.active {
  color: inherit;
  background-color: #f5f5f7 !important;
  border-color: #dee2e6 #dee2e6 #f5f5f7 !important;
}

.thumb-horizontal {
  background-color: rgba(0, 54, 74, 0.8) !important;
}

.full-size {
  height: calc(100vh - 50px) !important;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #ec8433;
  opacity: 0.6;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ec8433;
  opacity: 0.6;
}

::placeholder {
  color: #ec8433;
  opacity: 0.6;
}
