@font-face{
  font-family: 'Proxima Nova Alt';
  src: url('fonts/Proxima-Nova-Alt-Regular.otf') format('opentype');
}

* {font-family: "Proxima Nova Alt";}

body {
  margin: 0;
  padding: 0;
  color: #ec8433;
  font-family: "Proxima Nova Alt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown-divider {
  border-top-color: #ec8433;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #00374b!important;
  background-color: #ec8433!important;
}
